@using System
@using CS431_Project.Models
<div>
    <div>
        <a href="/promotions/@Model.PromotionId">@Model.PromotionName</a>
    </div>
    <div>
        @Model.PromotionCode
    </div>
    <div>
        @Model.Expiration
    </div>
    <div>
        @Model.PromoType
    </div>
    <div>
        @Model.PromoValue
    </div>
</div>