@using System
@using CS431_Project.Models
<div>
    <div>
        <a href="/purchase/@Model.PurchaseId">@Model.PurchaseTime</a>
    </div>
    <div>
        Movie: @Model.Movie.Title
    </div>
    <div>
        Showing: @Model.Showing.Time
    </div>
    <div>
        Customer: @Model.Customer .Name
    </div>
    <div>
        Promotion: @Model.Promotion.PromotionName
    </div>
</div>